/*
* Fonts
*/

@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/AvenirLTStd-Book.woff') format('woff');
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/Garamond.woff') format('woff');
}