header {
  background: $secondary;

  ul {
    margin: 0;

    li {
      display: inline-block;
      list-style: none;
      padding: 0;

      a {
        color: $nav_text_color;
        padding: 15px 30px;
        text-decoration: none;
      }
    }
  }
}