/*
* Header & Navs
*/

header {

  /*
  Nav General
  */
  nav {
    display: flex;
    justify-content: space-between;

    ul {
      margin: 0;
      width: auto;

       li {
        display: inline-block;
        list-style: none;
        padding: 0;

        a {
          color: $nav_text_color;
          padding: 1rem 1.5rem;
          text-decoration: none;
          line-height: 1rem;
        }

        &.dropdown {
          position: relative;

          &:after {
            content: ' ';
            position: absolute;
            right: 0;
            top: 0.3rem;
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 6px 0 6px;
            border-color: $primary transparent transparent transparent;

            @media ( max-width: $menu-breakpoint ) {
              display: none;
            }
          }

          & > a {
              @media ( max-width: $menu-breakpoint ) {
                color: $primary !important;
                font-size: 0.875rem;
              }
          }

          &:hover {
            ul {
              display: block;
            }
          }

          ul {
            display: none;
            position: absolute;
            min-width:185px;
            top: calc( 100% + 1rem );
            left: 0;
            background: $white;
            width: auto;
            z-index: 99;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            text-align:left;

            @media ( max-width: $menu-breakpoint ) {
              display: block;
              position: relative;
              box-shadow: none;
              text-align:center;
              min-width: 0;
              top: 0;
              background: transparent;
            }

            &:hover {
              display: block;
            }

            li {
              a {
                display: block;
                width: 100%;
                padding: 1rem;
                padding-left: 1rem;

                @media ( max-width: $menu-breakpoint ) {
                  max-width: $screen-xs;
                  margin: 0 auto;
                  padding: 0.5rem 1rem;
                  padding-left: 0;
                  width: auto;
                }
              }
            }
          }
        }
      }

      &.right {
        margin-right: 0;
        text-align:right;

        li {
          &:last-child {
            a {
              padding-right: 0;

              @media ( max-width: $menu-breakpoint ) {
                padding-right: inherit;
              }
            }
          }
        }
      }

      &.left {
        margin-left: 0;
        text-align:left;

        li {
          &:first-child {
            a {
              padding-left: 0;

              @media ( max-width: $menu-breakpoint ) {
                padding-left: inherit;
              }
            }
          }
        }
      }

      &.right, &.left {
        @media ( max-width: $screen-xs ) {
          flex-basis: 100%;
        }
      }
    }
  }

  /*
  Mobile Toggle
  */
  label {
    display: none;
    font-size: 40px;
    color: $primary;
    position: absolute;
    left: 0.75rem;
    top: 0px;
    padding: 0;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 99;

    @media ( max-width: $menu-breakpoint ) {
      display: block;
    }
  }

  input {
    display: none;
  }

  /*
  Top nav
  */
  .top {
    background: $primary;
    font-size: 0.875rem;
    padding: 0.5rem 0 !important;

    nav {
      width: auto;

      ul {
        display: inline-block;

        li {
          font-size: 0.875rem;

          @media ( max-width: $screen-xs ) {
            display:block;
          }

          &:first-child {
            @media ( max-width: $screen-xs ) {
              padding-bottom: 0.3rem;
            }
          }

          a {
            padding: 0.5rem 1rem;

            @media ( max-width: $screen-xs ) {
              padding-left: 0;
              padding-right: 0;
            }
          }

        }
      }
    }
  }

  /*
  Bottom Nav
  */
  .bottom {
    background: $white;
    text-align:right;

    @media ( max-width: $menu-breakpoint ) {
      padding: 1.5rem 0 !important;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;
    }

    .container {
      @media ( max-width: $menu-breakpoint ) {
        flex: 1 100%;
        padding: 0;
      }
    }

    nav {
      @media ( max-width: $menu-breakpoint ) {
        display: block;
        width: 100%;
      }

      ul {
        @media ( max-width: $menu-breakpoint ) {
          display: none;
          width: 100%;
          text-align:center;
        }

        li {
          a {
            color: $body_text_color;

            @media ( max-width: $menu-breakpoint ) {
              display: block;
              margin: 0 auto;
              padding: 0.75rem 1rem !important;
            }
          }
        }
      }
    }

    input:checked + ul {
      display: block;
      position: relative;
      width: 100%;

      li {
        display: block;
        width: 100%;
      }
    }
  }

  .top, .bottom {
    padding: 1rem 0;
  }

  /*
  * Icons
  */
  .icon {
    span {
      top: 0.4rem;
    }
  }
}